DB_SERVER=TCS135\SQLEXPRESS
DB_DATABASE=master
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_PORT=1433
DB_CONNECTION_TIMEOUT=30
DB_TRUSTED_CONNECTION=True
# Only needed for SQL authentication:
# DB_USERNAME=your_username
# DB_PASSWORD=your_password